.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-section{
  max-width: 1250px;
  margin: 0 auto;
}

.table-wrapper{
  margin-top: 10px;
}

th{
  font-weight: bolder;
  font-size: medium;
}
